body{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  background: #3578e5;
  margin-bottom: 40px;
}

header h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.6rem;
  text-align: center;
  color: #ffffff;
}

fieldset{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

button {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  border: none; 
  color: #f2f2f2; 
  padding: 12px 16px; 
  font-size: 16px; 
  cursor: pointer; 
  margin-right: 10px;
}
.btn-edit {
  background: #1e90ff; 
}

.btn-save {
  background: #0fc244; 
}

.btn-del {
  background: #ff0000;
}

.comment {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 60px auto;
  width: 50%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
}

select {
  cursor: pointer;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  width: 220px;
  height: 40px;
  padding: 8px 15px;
  background-color: #08499e;
  margin-bottom: 10px;
  float: left;
}

.button {
  width: 100px;
  background: #515ed4;
  font-weight: bold;
  color: #ffffff;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px 5px;
  margin-top: -18px;
  margin-right: 0;
  float: right;
}
.group{
  font-size: 1.2rem;
  justify-content: center;
  text-align: right;
}
.input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #7b9cceaf;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

footer {
  width: 100%;
  position: absolute;
  bottom: auto;
  left: 0;
  text-align: center;
  font-size: 2rem;
}

footer p {
  align-items: center;
  padding: 15px 0;
  font-size: 1.2rem;
  justify-content: center;
  text-align: center;
}
